body {
  background-color: #111111;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  
}

.FoxImage {
  object-fit: contain;
  height: 90vh;
  width: 100%;
  transition: 0.5s;
}

.RefreshBar {
  background-color: #222222;
}

.Button {
  max-height: 9vh;
  transition: 0.5s;
}

.Button:hover {
  max-height: 8vh;
  padding: 0.5vh;
  cursor: pointer;
}

.Button:active {
  max-height: 6vh;
  padding: 1.5vh;
}